nav img {
    width: 5%;
    float: left;
    display: inline-block;
}

nav .nav {
	margin-left: 5%;
}

.sidebar {
	background: #eee;
	width: 20%;
	height: 100vh;
}
.wrapper {
	.sidebar {
		float: left;
		display: inline;
	}
	.content {
		float: left;
		width: 80%;
		display: inline-block;
		margin: 0 auto;
	}
}
/*username area in sidebar*/
.username {
	span {
		text-decoration: underline;
	}

	li {
		list-style: none;
	}
	
}

.content {
	table {
		th {
				font-weight: bolder;
			}
		}
		span {
			display: none;
		}
		button {
			background: none;
			border: none;
		}
		input[type="text"] {
	    	width: 50%;
		}
		.editTable, 
		.delete {
			border: none;
			background-repeat: no-repeat;
			background-position: center;
			background-color: transparent;
		}
		.editTable {
    	width: 20%;
	   
	    background-size: 50%;
		}
		.delete {
			width: 50%!important;
			background-size: 90%!important;
			border: none!important;
		}
	}
	body.users {
		.editTable {
			background-size: 20%;
		}
	}
