/* line 1, ../scss/style.scss */
nav img {
  width: 5%;
  float: left;
  display: inline-block;
}

/* line 7, ../scss/style.scss */
nav .nav {
  margin-left: 5%;
}

/* line 11, ../scss/style.scss */
.sidebar {
  background: #eee;
  width: 20%;
  height: 100vh;
}

/* line 17, ../scss/style.scss */
.wrapper .sidebar {
  float: left;
  display: inline;
}
/* line 21, ../scss/style.scss */
.wrapper .content {
  float: left;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}

/*username area in sidebar*/
/* line 30, ../scss/style.scss */
.username span {
  text-decoration: underline;
}
/* line 34, ../scss/style.scss */
.username li {
  list-style: none;
}

/* line 42, ../scss/style.scss */
.content table th {
  font-weight: bolder;
}
/* line 46, ../scss/style.scss */
.content span {
  display: none;
}
/* line 49, ../scss/style.scss */
.content button {
  background: none;
  border: none;
}
/* line 53, ../scss/style.scss */
.content input[type="text"] {
  width: 50%;
}
/* line 57, ../scss/style.scss */
.content .editTable,
.content .delete {
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
/* line 63, ../scss/style.scss */
.content .editTable {
  width: 20%;
  background-size: 50%;
}
/* line 68, ../scss/style.scss */
.content .delete {
  width: 50%!important;
  background-size: 90%!important;
  border: none!important;
}

/* line 75, ../scss/style.scss */
body.users .editTable {
  background-size: 20%;
}

/* line 79, ../scss/style.scss */
.even {
  background-color: #eee;
}
